@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body{
    min-height: 100%;
    background: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing:antialiased;
    -webkit-overflow-scrolling: touch;

    margin: .5% 0;
    height: 100%;
    min-width: 100%;
}
.top-banner{    
    background-color: #658182;   
}

.enter{    
    max-width: 71.2%;    
}
a{
    font-size: 18px;
}
a:hover, a:focus{    
    color: #e1223c !important;
    text-decoration: none;
    outline: 0;
}

.btn{
    height: 50%;
    margin-top: 10% !important;    
}

/* слайдер */
h5, h4{
    font-size: calc(1em + 1vw);
}
.dostavka{
    margin-left: 10%
}
.s{
    margin-top: 2%;
    margin-left: 9%;
    text-align: center;
    color: #000;
}

   .first{
    display:flex;
    flex-wrap: wrap;
    bottom: -2%; 
    right: 100%;
    left: 1%; 
    margin-left: -53%;      
  }

  .fa{
      margin: -9%;
  }
  li{
    text-indent:0 !important;
}
  .chevronL{
      margin-left: -15%;           
  }
  .chevronR{
    margin-left: 78%;    
}

.carousel-control{
    line-height: 85px;
    
}
  .item{    
        height:90%;
        width: 80%;
        margin-left: 3%;  
  }
  
.list-inline-item{
    height:30% !important;
    width: 20% !important;
}

/* info */
.tovar-info-box{
    margin-left: 16%;
}

/* image big */
.ib{
    margin-top: 26%;
    text-align: center;
    color: #000;
}

.mini-slider_img{
    background-size: cover;
    max-width: 88%;
}
.description-box{
    margin-top: 2%;
    margin-left: 6%;
    max-width: 88%;
}

/* footer */
.f{ 
    margin-top: 2%;
    max-width: 100%;
    min-height:100%;
    height:auto !important;
    height:100%;    
    background: #658182;
    padding: 1% 0;     
  }
 
  .f a{
     color: #bdbdbd;
      font-size: 20px;  
  }
  h6,.if h6{
     font-size: calc(1em + 1vw);
 }
 .footer{   
     margin: 0%;
     width: 100%;   
 }
  .data_magazine{    
     color: #000;   
  }
  .if{    
      margin-left: 6%;
  }
  .requisites{    
      color: #000;   
      margin-left: -12%;
  }
  .reference{
     margin-left: 2%; 
    }
  .f i{     
      color: #bdbdbd;
      font-size: 30px;     
  }
 
  .f i:hover,a:hover, .phone i:hover{
      color: #E6E6FA !important;
  }
  .f h6{
     color: #000;
     font-size: 15px; 
  }
 
  .phone i{     
     color: #bdbdbd;
     font-size: 15px;     
 }

   /* на md */
   @media screen and (max-width: 992px) { 
    form{
        margin-left: 46% !important;
    }
    .top_banner_png,.first,.if{
        display: none;
    }
    .enter{        
        max-width: 86%;        
    }       
    .mini-slider_img {
        max-width: 100% !important;
    } 
    .info{
        margin-top: -50% !important;
    } 
    .ib{
        margin-top: 17%;        
    }
    .dostavka{
        height: 60%;
    } 
    .description-box{       
        max-width: 100%;
        margin-left: 0%;
    }  
    .requisites{      
        margin-left: -6%;
    }   
  }

/* на sm */
@media screen and (max-width: 768px) {
    form{
        margin-left: 10% !important;
    }
    .enter{        
        max-width: 96%;        
    }
    .mini-slider_img {
        max-width: 100% !important;        
    }
    .info{
        margin-top: -54% !important;
    }
    .ib{
        margin-top: 5%;        
    } 
    .description-box{       
        max-width: 100%;
        margin-left: 0%;
    }
    .dostavka{
        height: 60%;
    }
    .top_banner_png,.if{
        display: none; 
     } 
     .requisites{        
        margin-left: 8%;
        padding: 0%;
    }
    .data_magazine{
        margin-left: 10%;
    }
}
/* на xs */
@media screen and (max-width: 560px) {
    .top_banner_png,.header_new_logo,.if,.data_magazine{
        display: none;
    }
    form{
        margin-left: -1% !important;
    }
    .enter{        
        max-width: 96%;        
    }

    .s{
        margin-left: -4%;
    }
    .mini-slider_img {
        max-width: 100% !important;        
    }
    .info{
        margin-top: -57% !important;
    }
    .ib{
        margin-top: 2%;        
    } 
    .dostavka{
        height: 60%;
    } 
}