@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body{
    min-height: 100%;
    background: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing:antialiased;
    -webkit-overflow-scrolling: touch;

    margin: .5% 0;
    height: 100%;
    min-width: 100%;
}

.top-banner{    
    background-color: #658182;   
}
.top_banner_png{
    width: 80%;
    max-width: 100%;
}
a{
    font-size: 18px;
}
a:hover, a:focus{    
    color: #e1223c !important;
    text-decoration: none;
    outline: 0;
}

ul{
    border-style: solid;
    border-color: #e1223c;
    padding: 0 2%;    
}
.header_new_logo{
  max-width: 70% !important;
  margin-left: 1%;
}

.navbar-collapse{
    justify-content: flex-end;
}

h4,p{
   text-indent: 25px; 
   margin-top: 0;
   margin-bottom: 0;
}

.container{
    max-width: 100%;    
}

.img{
    width: 100%;
    padding: 0;
}
.fluid-img{
    width: 100%;
    max-width: 100%;

}

/*-----Боковое меню---------*/
.w{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
.vmenu{
    text-align: center;
}
.vmenu h4
    {      
        width:250px;      
        font-size:large;
        font-weight:500;
        padding:7px 15px; 
        background:#658182;      
       	
    }
    .vmenu h4 a
    {
        text-decoration:none;
        color:#fff;
        width:250px;
        display:block;
        text-align: left        

    }
    .vmenu h4:hover{
      
       background-color: #bfb6b6;
    	
    }
    .vmenu h4 a:hover{      
      color: #000 !important;    	
    }

    .vmenu ol{
        background:#444;	
        font-size:13px;        
        list-style-type:none;
        padding:0px;
        overflow:hidden;
        height:0px;
        transition:height 1s ease;       	
    }

    .vmenu ol a {
    	color:white;
    	text-decoration:none;
    	width:200px;    	
    	font-size:large;
    	height:30px;
     	text-align: center;	
    }
    .vmenu li {
        border-bottom:solid 2px #eee;        	
    }
    .vmenu li:hover {
        background:#999;	
    }
    .vmenu:hover #s3 {
        height:93px;           	
    }
     .vmenu:hover #s4 {
        height:245px;           	
    }

    .rtecenter_img{
        margin-top: 15%;
        margin-left: 12%;
    }    

    h5,h6,p,.requisites{
        font-size: calc(0.5em + 0.5vw);
    }
    
    .info_site span{
        font-size: calc(1em + 1vw); 
        margin-left: 4%; 
        display:inline-block;
        text-align: justify;
        width:110%; 
    }    
    
/* слайдер Акции */
.one,.two{  
    height: auto;    
}
.s{
    margin-top: 2%;
    text-align: center;
    color: #000;
}
.action{
    margin-bottom: 2%;
}

.title-box-td h5{
    font-size: calc(0.4em + 1vw);
}
.product_news_one_text h4{
    font-size: calc(0.5em + 1vw); 
    margin-bottom: 2%; 
}
/* футер */
.f{ 
   margin-top: 2%;
   max-width: 100%;
   min-height:100%;
   height:auto !important;
   height:100%;    
   background: #658182;
   padding: 1% 0;     
 }

 .f a{
    color: #bdbdbd;
     font-size: 20px;  
 }
 h6,.if h6{
    font-size: calc(1em + 1vw);
}
.footer{   
    margin: 0%;
    width: 100%;   
}
 .data_magazine{    
    color: #000;   
 }
 .if{    
     margin-left: 6%;
 }
 .requisites{    
     color: #000;   
     margin-left: -12%;
 }
 .reference{
    margin-left: 2%; 
   }
 .f i{     
     color: #bdbdbd;
     font-size: 30px;     
 }

 .f i:hover,a:hover, .phone i:hover{
     color: #E6E6FA !important;
 }
 .f h6{
    color: #000;
    font-size: 15px; 
 }

 .phone i{     
    color: #bdbdbd;
    font-size: 15px;     
}

.add_item{
    height: 40px;
    width: 40px;  
    border: none;
    background:url(../img/basket.png)no-repeat center/cover;
}

/* на md */
@media screen and (max-width: 992px) { 
    .top_banner_png,.if{
        display: none;      
    }   
    .info_site span{ 
        width: 100% !important;
        margin-left: 14% !important;
        padding: 0%
    }    
    .two{      
       padding: 0% !important;
    }     
    .rtecenter_img{
        margin-left:30% !important;
    }
    .rtecenter_title{
        margin-left:26% !important;
    } 
    .rtecenter{
        margin-left:33% !important;
    }
    .img-action{
        height: 95%;
        width: 100%;        
    } 
    .product_news_one_price_num{
        margin-left: 74% !important;
    } 
    .requisites{      
        margin-left: -6%;
    }    
  }

/* на sm */
@media screen and (max-width: 768px) {
    .navbar-header{        
        padding: 0%;
    }   
    .rtecenter{
        margin-left:33% !important;
    }
    .container{
        width: 95% !important;
        padding: 0%;
    }
    .carousel-inner{
        margin-left: 1% !important;
    }
    .info_site span{ 
        width: 108% !important;
        margin-left: 0% !important;;
        padding: 0%
    }         
    .product_news_one_price_num{
        margin-left: 76% !important;
    } 
    .top_banner_png,.header_new_logo,.rtecenter_img,.rtecenter_title,.if{
       display: none; 
    }    
    .requisites{        
        margin-left: 8%;
        padding: 0%;
    }
    .data_magazine{
        margin-left: 10%;
    }
}

/* на xs */
@media screen and (max-width: 560px) {
   
    .container{
        width: 94% !important;       
    }    
    .info_site{
        width: 94% !important;
        margin-left: -1%;        
    }
    .reference{
        margin-left: -6% !important;
    }    
    
    .rtecenter{
        margin-left:12% !important;
    }
    .top_banner_png,.header_new_logo,.one,.rtecenter_img,.rtecenter_title,.if,.data_magazine{
        display: none; 
    }
    .two{
        width: 83% !important;
        margin-left: 5% !important;
    } 
    .product_news_one_price_num{
        margin-left: 70% !important;
    }   
     
}
 